.cardPayment__footerContainer {
  margin: 0 auto;
  max-width: 1080px;
  background: #34343e;
  height: 301px;
  position: relative;
  z-index: 1;
}

.cardPayment__footerContainer-btnContainer {
  position: absolute;
  bottom: 65px;
  left: 80px;
  display: flex;
  align-items: center;
}

.cardPayment__btnContainer-btnGoBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(52, 52, 62, 0.24);
  border-radius: 16px;
  border: transparent;
  outline: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin-right: 20px;
}

.cardPayment__btnContainer-btnGoBack:hover .svg-footer-hover {
  fill: #00923a;
}

.cardPayment__btnContainer-callToCustomerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardPayment__btnContainer-callToCustomer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px 16px 16px;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(52, 52, 62, 0.24);
  border-radius: 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #34343e;
}

.cardPayment__btnContainer-callToCustomer svg {
  margin-right: 20px;
}
.cardPayment__btnContainer-callToCustomer:hover {
  color: #00923a;
}
.cardPayment__btnContainer-callToCustomer:hover .svg-footer-hover {
  fill: #00923a;
}
